:root {
  /* Colores Primarios */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  /* Fuentes */
  --open-sans: "Open Sans", sans-serif; /* Body */
  --poppins: "Poppins", sans-serif; /* Heading */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-width: 375px;
  max-width: 1440px;
  background: url(images/bg-mobile.svg) no-repeat;
  background-color: var(--violet);
}

body {
  padding: 30px;
  min-height: 100vh;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 70px;
}

header img {
  width: 30%;
}

.image img {
  width: 100%;
  padding-bottom: 50px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section h1 {
  font-family: var(--poppins);
  font-weight: 600;
}

section h1,
p {
  color: #fff;
  margin-bottom: 20px;
}

section p {
  line-height: 1.2;
}

button {
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
  box-shadow: -1px 4px 8px -1px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: -1px 4px 8px -1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -1px 4px 8px -1px rgba(0, 0, 0, 0.68);
  margin-bottom: 50px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons a i {
  margin-right: 10px;
  border: 1px solid #fff;
  padding: 0.3em 0 0 0.5em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 992px) {
  html {
    background: url(images/bg-desktop.svg);
    background-color: var(--violet);
  }
  header img {
    width: 20%;
  }
  main {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% 3em 40%;
    grid-template-columns: 55% 40%;
    -ms-grid-rows: 70% 3em 30%;
    grid-template-rows: 70% 30%;
    gap: 3em;
  }
  main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  main > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  main > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  section {
    text-align: start;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}